.payment-container {
  padding: 0 16px; /* Adds 16px padding to left and right */
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  white-space: nowrap;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-table th,
.booking-table td {
  padding: 1rem;
  white-space: nowrap;
  font-weight: bold;
  gap: 2rem;
}

.booking-table th {
  font-weight: normal;
  text-align: left;
}

.booking-table th:not(:last-child),
.booking-table td:not(:last-child) {
  border-right: 1px dotted #ccc;
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: flex-start;
  max-width: 650px;
  background-color: white;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-left,
.form-right {
  flex: 1;
  min-width: 300px; 
}

.form-right label {
  display: block;
  margin-bottom: 16px;
}

.form-left div {
  margin-bottom: 16px;
}

.payment-form button {
  margin-top: 24px;
}
